@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

$theme-color: #25160f;
$subtheme-color: cornsilk;

* {
  margin: 0;
  user-select: none;
}

body {
  font-family: Comfortaa, sans-serif;
  color: $subtheme-color;
  height: 100vh;
  background-color: $theme-color;
  display: flex;
  justify-content: center;
  align-items: center;
  #app {
    width: 75vw;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

h2 {
  text-align: center;
  margin: 20px;
  font-size: 5rem;
  text-decoration: underline;
  margin-bottom: 2rem;
}

h3 {
  font-size: 2rem;
  margin: 20px;
  text-align: center;
}

button {
  border-radius: 5px;
  border: none;
  outline: none;
  background-image: linear-gradient(
    to right,
    #363636,
    $subtheme-color 5%,
    $subtheme-color 95%,
    #363636 100%
  );;
  height: 25px;
  cursor: pointer;
  margin: 3px;
  i {
    color: rgb(0, 0, 0);
    pointer-events: none;
    font-size: 1.2rem;
  }
}

#clock {
  display: flex;
  flex-direction: column;
  align-items: center;
  #length-controls-box{
    display: flex;
    margin: 20px;
    width: 600px;
    justify-content: space-between;
    .length-control-boxes {
      display: flex;
      flex-direction: column;
      align-items: space-around;
      justify-content: center;
      border: 3px solid $subtheme-color;
      border-radius: 10px;
      width: 350px;
      height: 200px;
      margin: 0 20px;
      .length-controls {
        font-size: 1.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 20px;
        #session-length, #break-length {
          display: flex;
          align-items: center;
          margin: 0 10px;
        }
      }
    }
  }
  
  #timer-big-box {
    display: flex;
    width: 350px;
    height: 200px;
    justify-content: space-evenly;
    align-items: center;
    border: 3px solid $subtheme-color;
    border-radius: 10px;
    margin: 20px;
    #start_stop, #reset {
      height: 30px;
    }
    #timer-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      #time-left {
        letter-spacing: 2px;
      }
      h3 {
        margin: 15px
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  h2 {
    font-size: 3.5rem;
    width: 300px;
  }

  #clock{
    #length-controls-box {
      margin: 0;
      width: 375px;
      justify-content: center;
      .length-control-boxes {
        margin: 0 10px;
        h3 {
          margin: 20px 10px;
        }
        .length-controls {
          margin: 0;
          #session-length, #break-length {
            margin: 0;
          }
        }
      }
    }
  }
}